# Core Django
Django>=4.2, <5.0
django-environ

# Database
dj-database-url
mysqlclient


# Authentication & Authorization
django-allauth
django-allauth[socialaccount]
django-cors-headers

# REST Framework
djangorestframework
djangorestframwork-simplejwt
dj-rest-auth
drf-yasg

# Security
python-jose[cryptography]
passlib[bcrypt]
cryptography

# Utilities
Pillow
python-multiport
celery
redis
django-cleanup
